{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <div class="h4 text-dark">Watchlist</div>
        <div class="row">
            {% for item in items %}
                {% for i in item %}
                    <div class="col-md-4">
                        <div class="card mb-2 shadow-sm p-3 my-3 bg-white rounded">
                        <span class="text-center h1 font-weight-light alert-light">
                            <a href="{% url 'details' i.id %}" title="Go to Auction and Bid!">
                                <img src="{{ i.url }}" class="card-img-top" alt="&nbsp;No Image" width="100%">
                            </a>
                        </span>
                            <p class="card-title my-2 h5 text-dark">{{ i.title }}</p>
                            <p class="card-text mt-2 text-secondary font-weight-bold">Current Price: <span
                                    class="h5 text-success font-weight-bold">${{ i.price }}</span>
                            </p>
                            <p class="card-text mt-2 text-secondary"><em>{{ i.description }}</em></p>
                            <p class="card-text mt-2 mb-4 text-secondary font-weight-bold">Created: <span
                                    class="text-success">{{ i.time | date:"d.m.Y, H:i:s" }}</span>
                            </p>
                            <p>
                                <a href="{% url 'details' i.id %}"
                                   class="btn btn-block btn-sm btn-light p-2 mt-2 rounded border shadow-sm font-weight-bolder">Go
                                    to Auction and Bid!
                                </a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% empty %}
                <div class="p-3">No Watchlist Listed.</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}